<div>
    <div v-if="isPC">
        <div class="top-welcome-wrap">
            <canvas ref="indexCanvas" id="canvas" style="background:#fbfcff">you browser not support canvas!</canvas>
            <div class="banner-wrap">
                <div class="banner-bg">
                    <div class="welcome-content-wrap-index">
                        <transition-group name="fade">
                            <h1 key="welcomeTit" v-show="pageDone">简单挖矿 躺着赚钱</h1>
                            <p class="welcome-content" key="welcomeContent" v-show="pageDone">不管你是一个老矿工还是新手挖矿，2100 POOL都能成为首选平台，它将以安全、简单、直观的方式更快地满足你所有的挖矿需求。</p>
                            <!-- <p class="welcome-input-wmail-tit" key="welcomeInputEmailTit" v-show="pageDone">请输入您的电子邮件联系我们</p>
                            <input type="text" class="welcome-input" key="welcomeInputEmail" v-show="pageDone"> -->
                        </transition-group>
                    </div>
                    <div class="suanli-wrap">
                        <div class="suanli-bg">
                            <img src="../../assets/img/suanli.png" class="suanli-bg">
                            <div class="suanli-content-wrap">
                                <div class="suanli-content-tit">DCR矿池手续费</div>
                                <div class="suanli">0%</div>
                                <div class="suanli-address">
                                    <!--<span>挖矿地址：</span>-->
                                    <span>stratum+tcp://dcr.2100pool.com:3252</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="coin-count-wrap">
                        <div class="coin-total-counts-wrap">
                            <div class="coin-total-counts-box">
                                <img src="../../assets/img/dcr.png" class="coin-logo">
                                <span class="coin-total-count-tit">总量</span>
                            </div>
                            <div class="coin-counts-wrap">
                                <div class="coin-total-counts">21,000,000</div>
                                <div class="coin-unit">DCR</div>
                            </div>
                        </div>
                        <div class="coin-progress-wrap">
                            <div class="coin-progress-start">0 DCR</div>
                            <div class="coin-progress-end">7,565,743 DCR</div>
                        </div>
                        <div class="coin-progress-box">
                            <div class="coin-progress" :style="{ 'width': progress }"></div>
                        </div>
                    </div> -->
                    <div class="jisuan-profit-wrap" @click="toJisuanProfit">
                        <img src="../../assets/img/jisuanqi.png" class="jisuan-profit-icon">
                        <div class="jisuan-profit-tit">收益计算</div>
                    </div>
                    <el-dialog :visible.sync="profitFlag">
                        <template slot="title">
                            <span class="more-help-form-tit">收益计算</span>
                        </template>
                        <div class="gongshi-bg">
                            <div class="gongshi-wrap">
                                <div class="gongshi-data-box">
                                    <div class="gongshi-data-tit">算力</div>
                                    <div class="gongshi-io-box">
                                        <input type="text" class="gongshi-data" v-model="input1">
                                        <div class="gongshi-unit">Ghash/s</div>
                                    </div>
                                </div>
                                <img src="../../assets/img/jiantou.jpeg" class="gongshi-jiantou">
                                <div class="gongshi-data-box">
                                    <div class="gongshi-data-tit">收益</div>
                                    <div class="gongshi-io-box">
                                        <!--<div class="gongshi-data"></div>-->
                                      <input type="text" class="gongshi-data" v-model="input2" disabled="disabled">
                                        <div class="gongshi-unit">DCR/天</div>
                                    </div>
                                </div>
                            </div>
                            <div class="gongshi-tips">
                                温馨提示： 收益计算器采用当前难度估算PPS理论收益，可能与您的实际收益存在偏差，仅供参考。
                            </div>
                        </div>
                    </el-dialog>
                </div>
            </div>
        </div>
        <div class="content-bg">
            <div class="content-wrap">
                <img src="../../assets/img/introduction-demo.png" class="introduction-demo">
                <div class="introduction-wrap">
                    <div class="introduction-q">关于2100 POOL?</div>
                    <div class="introduction-a">我们为你搭建了一个更安全,收益更高的2100 POOL.</div>
                    <div class="introduction-content-wrap">
                        <div class="introduction-content-group">
                            <img src="../../assets/img/bit.png" class="introduction-content-icon">
                            <div class="introduction-content-item">
                                <div class="introduction-content-1">快捷支付</div>
                                <div class="introduction-content-2">每日结算，确保您资金安全</div>
                            </div>
                        </div>
                        <div class="introduction-content-group">
                            <img src="../../assets/img/secure.png" class="introduction-content-icon">
                            <div class="introduction-content-item">
                                <div class="introduction-content-1">安全稳定</div>
                                <div class="introduction-content-2">7*24小时稳定服务，永不当机，不掉线，确保您收益安全</div>
                            </div>
                        </div>
                        <div class="introduction-content-group">
                            <img src="../../assets/img/aim.png" class="introduction-content-icon">
                            <div class="introduction-content-item">
                                <div class="introduction-content-1">高收益</div>
                                <div class="introduction-content-2">手续费、拒绝率稳定控制在较低水平，收益全网领先。</div>
                            </div>
                        </div>

                      <div class="introduction-content-group">
                        <img src="../../assets/img/bit.png" class="introduction-content-icon">
                        <div class="introduction-content-item">
                          <div class="introduction-content-1">方便快捷</div>
                          <div class="introduction-content-2">通过微信，随时随地查看收益，矿机在线情况</div>
                        </div>
                      </div>

                    </div>
                    <div class="more-help-btn" @click="getStart">了解更多</div>
                </div>
            </div>
            <div class="join-wrap">
                <h1 class="join-tit">加入2100 POOL</h1>
                <div class="join-btn-wrap">
                    <div class="join-btn-group">
                        <img src="../../assets/img/keep secure.png" class="join-btn-icon">
                        <div class="join-btn-tit">选择DCR矿机</div>
                    </div>
                    <div class="join-btn-group">
                        <img src="../../assets/img/manage portfolio.png" class="join-btn-icon">
                        <div class="join-btn-tit">配置矿机</div>
                    </div>
                    <div class="join-btn-group">
                        <img src="../../assets/img/aim.png" class="join-btn-icon">
                        <div class="join-btn-tit">开始挖矿</div>
                    </div>
                    <div class="join-btn-group">
                        <img src="../../assets/img/buy coins.png" class="join-btn-icon">
                        <div class="join-btn-tit">坐享收益</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="peizhi-bg">
            <div class="peizhi-wrap">
                <h1 class="peizhi-tit">DCR 挖矿配置</h1>
                <div class="peizhi-row-wrap">
                    <div class="peizhi-row-group">
                        <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                        <div class="peizhi-row-tit">挖矿地址:</div>
                        <div class="peizhi-row-content">stratum+tcp://dcr.2100pool.com:3252</div>
                    </div>
                    <div class="peizhi-row-group">
                        <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                        <div class="peizhi-row-tit">费率:</div>
                        <div class="peizhi-row-content">0% PPS</div>
                    </div>
                    <div class="peizhi-row-group">
                        <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                        <div class="peizhi-row-tit">24小时理论收益:</div>
                        <div class="peizhi-row-content">{{grate}} DCR 每 Ghash/s</div>
                    </div>
                    <div class="peizhi-row-group">
                        <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                        <div class="peizhi-row-tit">结算时间:</div>
                        <div class="peizhi-row-content">每日10:00达到起付标准自动结算10:00之前未支付的收益，不足起付标准则第二天10:00结算</div>
                    </div>
                    <div class="peizhi-row-group">
                        <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                        <div class="peizhi-row-tit">支付时间:</div>
                        <div class="peizhi-row-content">每日10:00–16:00自动付款，每日付款一次</div>
                    </div>

                  <div class="peizhi-row-group">
                    <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                    <div class="peizhi-row-tit">掉线通知:</div>
                    <div class="peizhi-row-content">关注下方微信，不仅可以方便查看收益，而且我们会通过微信及时通知到您</div>
                  </div>

                  <div class="peizhi-row-group">
                    <img src="../../assets/img/Group 4.png" class="peizhi-row-icon">
                    <div class="peizhi-row-tit">支付规则:</div>
                    <div class="peizhi-row-content">0.1 DCR 起付</div>
                  </div>

                </div>
                <!--<img src="../../assets/img/Landing page for WP Theme.png" class="peizhi-icon">-->
            </div>
        </div>
        <div class="app-wrap">
            <div class="app-bg">
                <img src="../../assets/img/Group 5.png" class="app-phone">
                <div class="app-app-wrap">
                    <div class="app-app-tit">您所期待的DCR手机端钱包即将到来</div>
                    <div class="app-app-content">不仅能安全方便管理钱包还有一键POS投票</div>
                </div>
            </div>
        </div>
        <div class="footer-place"></div>
    </div>

    <div v-if="!isPC">
        <div class="m-part1-group">
        <!-- <div class="m-part1-group" :style="{ 'width': WIDTH, 'height': HEIGHT }"> -->
            <canvas ref="indexCanvas" id="canvas" style="background:#fbfcff">you browser not support canvas!</canvas>
            <div class="m-part1-profit-wrap">
                <div class="suanli-wrap-m">
                    <div class="suanli-bg-m">
                        <img src="../../assets/img/suanli.png" class="suanli-img-m">
                        <div class="suanli-content-wrap-m">
                            <div class="suanli-content-tit-m">DCR矿池手续费</div>
                            <div class="suanli-m">0%</div>
                            <div class="suanli-address-m">
                                <span>挖矿地址：</span>
                                <span>stratum+tcp://dcr.2100pool.com:3252</span>
                            </div>
                            <div class="jisuan-profit-wrap-m" @click="toJisuanProfit">
                                <img src="../../assets/img/jisuanqi-m.png" class="jisuan-profit-icon-m">
                                <div class="jisuan-profit-tit-m">收益计算</div>
                            </div>
                            <el-dialog :visible.sync="profitFlagM">
                                <template slot="title">
                                    <span class="more-help-form-tit-m">收益计算</span>
                                </template>
                                <div class="gongshi-bg">
                                    <div class="gongshi-wrap-m">
                                        <div class="gongshi-data-box">
                                            <div class="gongshi-data-tit-m">算力</div>
                                            <div class="gongshi-io-box">
                                                <input type="text" class="gongshi-data-m" v-model="input1">
                                                <div class="gongshi-unit-m">Ghash/s</div>
                                            </div>
                                        </div>
                                        <img src="../../assets/img/jiantou.jpeg" class="gongshi-jiantou-m">
                                        <div class="gongshi-data-box">
                                            <div class="gongshi-data-tit-m">收益</div>
                                            <div class="gongshi-io-box">

                                              <input type="text" class="gongshi-data-m" v-model="input2" disabled="disabled">
                                              <div class="gongshi-unit-m">DCR/天</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gongshi-tips-m">
                                        温馨提示： 收益计算器采用当前难度估算PPS理论收益，可能与您的实际收益存在偏差，仅供参考。
                                    </div>
                                </div>
                            </el-dialog>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slogon-m">简单挖矿 躺着赚钱</div>
        </div>
        <div class="m-part2-group" :style="{ 'width': WIDTH, 'min-height': HEIGHT }">
            <div class="introduction-wrap-m">
                <div class="introduction-q-m">关于2100 POOL</div>
                <div class="introduction-content-wrap-m">
                    <div class="introduction-content-group-m">
                        <img src="../../assets/img/bit.png" class="introduction-content-icon-m">
                        <div class="introduction-content-item-m">
                            <div class="introduction-content-1-m">快捷支付</div>
                            <div class="introduction-content-2-m">每日结算，确保您资金安全</div>
                        </div>
                    </div>
                    <div class="introduction-content-group-m">
                        <img src="../../assets/img/secure.png" class="introduction-content-icon-m">
                        <div class="introduction-content-item-m">
                            <div class="introduction-content-1-m">安全稳定</div>
                            <div class="introduction-content-2-m">7*24小时稳定服务，永不当机，不掉线，确保您收益安全</div>
                        </div>
                    </div>
                    <div class="introduction-content-group-m">
                        <img src="../../assets/img/aim.png" class="introduction-content-icon-m">
                        <div class="introduction-content-item-m">
                            <div class="introduction-content-1-m">高收益</div>
                            <div class="introduction-content-2-m">手续费、拒绝率稳定控制在较低水平，收益全网领先。</div>
                        </div>
                    </div>

                  <div class="introduction-content-group-m">
                    <img src="../../assets/img/bit.png" class="introduction-content-icon-m">
                    <div class="introduction-content-item-m">
                      <div class="introduction-content-1-m">方便快捷</div>
                      <div class="introduction-content-2-m">通过微信，随时随地查看收益，矿机在线情况</div>
                    </div>
                  </div>

                </div>
                <div class="more-help-btn-m" @click="getStart">了解更多</div>
            </div>
        </div>
        <div class="m-part3-group" :style="{ 'width': WIDTH, 'min-height': HEIGHT }">
            <div class="peizhi-wrap-m">
                <h1 class="peizhi-tit-m">DCR 挖矿配置</h1>
                <div class="peizhi-row-wrap-m">
                    <div class="peizhi-row-group-m">
                        <div class="peizhi-row-group-tit-wrap-m">
                            <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                            <div class="peizhi-row-tit-m">挖矿地址:</div>
                        </div>
                        <div class="peizhi-row-content-m">stratum+tcp://dcr.2100pool.com:3252</div>
                    </div>
                    <div class="peizhi-row-group-m">
                        <div class="peizhi-row-group-tit-wrap-m">
                            <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                            <div class="peizhi-row-tit-m">费率:</div>
                        </div>
                        <div class="peizhi-row-content-m">0% PPS</div>
                    </div>
                    <div class="peizhi-row-group-m">
                        <div class="peizhi-row-group-tit-wrap-m">
                            <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                            <div class="peizhi-row-tit-m">24小时理论收益:</div>
                        </div>
                        <div class="peizhi-row-content-m">{{grate}} DCR 每 Ghash/s</div>
                    </div>
                    <div class="peizhi-row-group-m">
                        <div class="peizhi-row-group-tit-wrap-m">
                            <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                            <div class="peizhi-row-tit-m">结算时间:</div>
                        </div>
                        <div class="peizhi-row-content-m">每日10:00达到起付标准自动结算10:00之前未支付的收益，不足起付标准则第二天10:00结算</div>
                    </div>
                    <div class="peizhi-row-group-m">
                        <div class="peizhi-row-group-tit-wrap-m">
                            <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                            <div class="peizhi-row-tit-m">支付时间:</div>
                        </div>
                        <div class="peizhi-row-content-m">每日10:00–16:00自动付款，每日付款一次</div>
                    </div>

                  <div class="peizhi-row-group-m">
                    <div class="peizhi-row-group-tit-wrap-m">
                      <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                      <div class="peizhi-row-tit-m">掉线通知:</div>
                    </div>
                    <div class="peizhi-row-content-m">关注下方微信，不仅可以方便查看收益，而且我们会通过微信及时通知到您</div>
                  </div>

                    <div class="peizhi-row-group-m">
                        <div class="peizhi-row-group-tit-wrap-m">
                            <img src="../../assets/img/Group 4.png" class="peizhi-row-icon-m">
                            <div class="peizhi-row-tit-m">支付规则:</div>
                        </div>
                        <div class="peizhi-row-content-m">0.1 DCR 起付</div>
                    </div>

                </div>
                <!--<img src="../../assets/img/Landing page for WP Theme.png" class="peizhi-icon-m">-->
            </div>
        </div>
        <div class="m-part4-group" :style="{ 'width': WIDTH, 'min-height': HEIGHT }">
            <div class="app-app-tit-m">您所期待的DCR手机端钱包即将到来</div>
            <img src="../../assets/img/Group 5.png" class="app-phone-m">
            <div class="app-app-content-m">不仅能安全方便管理钱包还有一键POS投票</div>
        </div>
        <div class="footer-place"></div>
    </div>
</div>
